/*** Styles for all Fieldsets ***/

fieldset[class*=' bolt-field-'],
fieldset[class^='bolt-field-'] {
    // Move standard boostrap form-group margins from here to data-bolt-fieldset to position prefix/postfix
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    /// Label
    label,
    .control-label {
        color: #808080;
    }

    // Main label
    label.main {
        color: #282828;
    }

    // Info popup
    .info-pop {
        color: #bbb;
    }
}

/*** Styles for all filelists/imagelists ***/

fieldset.bolt-field-filelist,
fieldset.bolt-field-imagelist {
    // Empty placeholder
    p {
        color: #999;
        font-style: italic;
    }

    .list {
        border: 1px solid #e0e0e0;
        background-color: #fff;
        border-radius: 3px;
    }

    .item {
        border: 2px solid #f0f0f0;
        border-radius: 3px;
        background: #f6f6f6;

        &.selected {
            border: 2px solid $btn-tertiary-bg;
        }

        &.zombie {
            border: 2px solid #d00;
            opacity: 0.1;
        }

        input.title {
            border: 1px solid #f0f0f0;
            background-color:#fbfbfb;
        }

        // Remove button
        a.remove {
            color: #999;
            border-radius: 3px;

            &:hover {
                background: #dcdcdc;
            }
        }

        // File description
        span.desc {
            color: #aaa;
        }

        //
        .icon {
            color: #bbb;
        }
    }
}